.header {
  background-color: rgb(1, 1, 1);
  color: white;
  border-bottom: 1px solid rgb(30, 30, 30);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.left-section {
  width: 180px;
}

.middle-section {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section {
  width: 180px;

}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-box:hover {
  border: 1px solid rgb(134, 131, 131);
  border-radius: 4px;
}

.search-box i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(213, 213, 213);
  height: 32px;
  background-color: rgb(1, 1, 1);
  border: 1px solid rgb(30, 30, 30);
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 8px;
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
  width: 36px;
}

.search-input {
  background-color: rgb(1, 1, 1);
  color: white;
  border: 1px solid rgb(30, 30, 30);
  border-left: none;
  width: 340px;
  height: 32px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /*Includes border in the height*/
  padding-left: 5px;
}

.search-input:focus {
  outline: none;
  
}

