.left-sidebar {
  background-color: rgb(1, 1, 1);
  color: white;
  width: 240px;
  border-right: 1px solid rgb(30, 30, 30);
  border-top: 1px solid rgb(30, 30, 30);

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
}

.right-sidebar {
  background-color: rgb(1, 1, );
  color: white;
  width: 240px;
  border-left: 1px solid rgb(30, 30, 30);
  border-top: 1px solid rgb(30, 30, 30);

  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  position: fixed;
  right: 0;
  top: 50px;
  bottom: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 10px 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  color: white; 
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 999px;
  text-align: left;
}

.sidebar-item:hover {
  background-color: rgb(20, 20, 20);
}

.sidebar-item.active {
  font-weight: bold;
  background-color: rgb(20, 20, 20);
}

.sidebar-item i {
  font-size: 20px;
  width: 25px;
  text-align: center;
}

.auth-button {
  margin-top: auto;
  background-color: #154361;
  font-weight: bold;
  justify-content: center;
}

.auth-button:hover {
  background-color: #104b72;
}


@media (max-width: 1200px) {
  .right-sidebar {
    display: none;
  }

  .left-sidebar {
    width: auto;
    align-items: center;
  }

  /* hiding text*/
  .sidebar-item div {
    display: none;
  }

  .sidebar-item {
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
  }

  .sidebar-item i {
    width: auto;
    font-size: 22px;
    margin: 0;
  }

  .auth-button {
    height: 50px;
    width: 50px;
  }
}

.bottom-nav {
  display: none; /* Hidden by default on desktop */
}

/* for phone */

@media (max-width: 768px) {
  /*Hiding desktop sidebars */
  .left-sidebar, .right-sidebar {
    display: none;
  }

  .bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #000;
    border-top: 1px solid rgb(30, 30, 30);
    z-index: 1000;
  }

  .bottom-nav-item {
    color: rgb(150, 150, 150);
    font-size: 24px;
  }

  .bottom-nav-item.active {
    color: white;
  }
}
