.header {
  background-color: #101010;
  color: #dcdcdc;
  border-bottom: 1px solid rgb(30, 30, 30);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 100;
}

.left-section {
  width: 180px;
}

.left-section img {
  height: 40px; 
  width: auto;
  border-radius: 50px;
  margin-left: 28px;
}

.middle-section {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section {
  width: 180px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box:focus {
  border: 7px solid rgb(213, 213, 213);
}

.search-box i {
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(213, 213, 213);
  height: 32px;
  background-color: #262626;
  border: 1px solid rgb(30, 30, 30);
  border-right: none;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 0 8px;
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
  width: 36px;
}

.search-input {
  background-color: #262626;
  color: #eaeaea;
  border: 1px solid rgb(30, 30, 30);
  border-left: none;
  width: 340px;
  height: 32px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  font-size: 16px;
  box-sizing: border-box; /*Includes border in the height*/
  padding-left: 5px;
}

.search-input:focus {
  outline: rgb(134, 131, 131);
}

@media (max-width: 768px) {
  .header {
    justify-content: center;
  }

  .middle-section {
    display: none;
  }

  .left-section {
    width: auto;
  }

  .right-section {
    display: none;
  }
}